@inject NavigationManager Nav
@inherits LayoutComponentBase
@inject AuthenticationStateProvider provider

@{
    string cms = "/cms";
    string cmsNewsfeed = "/cms/publications";
    string cmsArticles = "/cms/articles";
    string cmsAbout = "/cms/about";
    string cmsContacts = "/cms/contacts";
    string publications = "/publications";
}

<style>
    body {
        background-size: contain;
        background-repeat: repeat-y;
    }
</style>

<Layout>
    <Header Class="header">
        <div class="logo">
            <Row>
                <AntDesign.Col>
                    <div style="width: 25px; height: 31px; margin: 1px 35px 16px 0; float: left;">
                        <img src="https://img.icons8.com/nolan/64/settings--v1.png" />
                    </div>
                </AntDesign.Col>
                <AntDesign.Col>
                    <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[]{"/"})>
                        <MenuItem @onclick="() => { Nav.NavigateTo(cms, true); }">CMS</MenuItem>
                        <a @onclick="() => { Nav.NavigateTo(publications, true); }">
                            <span class="badge badge-secondary">На сайт</span>
                        </a>
                        <MenuItem @onclick="() => { Nav.NavigateTo(cmsNewsfeed, true); }">Публикации</MenuItem>
                        <MenuItem @onclick="() => { Nav.NavigateTo(cmsArticles, true); }">Статьи</MenuItem>
                        <MenuItem @onclick="() => { Nav.NavigateTo(cmsAbout, true); }">О себе</MenuItem>
                        <MenuItem @onclick="() => { Nav.NavigateTo(cmsContacts, true); }">Контакты</MenuItem>
                    </Menu>
                </AntDesign.Col>
                <AntDesign.Col>
                    <AuthorizeView Roles="admin">
                        <Authorized>
                            <AntDesign.Dropdown>
                                <Overlay>
                                    <AntDesign.Menu>
                                        <AntDesign.MenuItem>
                                            <a target="_blank" @onclick="Logout" rel="noopener noreferrer" href="#">
                                                Выйти
                                            </a>
                                        </AntDesign.MenuItem>
                                    </AntDesign.Menu>
                                </Overlay>
                                <ChildContent>
                                    <a class="ant-dropdown-link" @onclick:preventDefault>
                                        <b style="color: white">@context.User.Identity.Name</b> <Icon Type="down" />
                                    </a>
                                </ChildContent>
                            </AntDesign.Dropdown>
                        </Authorized>
                    </AuthorizeView>
                </AntDesign.Col>
            </Row>
        </div>
    </Header>
    <Content>
        <div class="container content" style="padding: 60px 15px 60px; height: 100%; background-color:white">
            @Body
        </div>
    </Content>
    <Footer Style="text-align: center; left: 0; bottom:0;width: 100%; height: 20px; position:fixed">Footer</Footer>
</Layout>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Logout()
    {
        var p = (ProducedAuthenticationStateProvider)provider;
        p.Logout();
    }
}
