@using System.Linq
@inherits LayoutComponentBase
@inject IDbContextFactory<TeacherContext> Context
@inject NavigationManager Nav

@{ 
    string root = "/";
    string newsfeed = "/publications";
    string articles = "/articles";
    string about = "/about";
    string contacts = "/contacts";
    }

<Layout>
    <Header Class="header">
        <div class="logo">
            <Row>
                <AntDesign.Col>
                    <div style="width: 25px; height: 31px; margin: 5px 24px 16px 0; float: left;">
                        <img src="https://img.icons8.com/color/48/000000/motarboard.png" />
                    </div>
                </AntDesign.Col>
                <AntDesign.Col>
                    <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[]{"2"})>
                        <MenuItem @onclick="() => { Nav.NavigateTo(root, true); }">Главная</MenuItem>
                        <MenuItem @onclick="() => { Nav.NavigateTo(newsfeed, true); }">Лента</MenuItem>
                        <MenuItem @onclick="() => { Nav.NavigateTo(articles, true); }">Статьи</MenuItem>
                        <MenuItem @onclick="() => { Nav.NavigateTo(about, true); }">О себе</MenuItem>
                        <MenuItem @onclick="() => { Nav.NavigateTo(contacts, true); }">Контакты</MenuItem>
                    </Menu>
                </AntDesign.Col>
            </Row>     
        </div>   
    </Header>
    <Content>
        <div class="container content" style="padding: 10px 15px 60px; height: 100%">
            @Body
        </div>
    </Content>
    <Footer Style="text-align: center; left: 0; bottom:0;width: 100%; position: fixed">Footer</Footer>
</Layout>

<style>
    body {
        background-size: contain;
        background-repeat: repeat-y;
        
    }
    .site-layout-content {
        background: #fff;
        padding: 10px;
        min-height: 280px;
    }
</style>

@code{


 }
