
<div class="row" style="height: 500px">
    <div class="col" style="background-color:aquamarine; height: 500px;
        background:url( data:image/jpg;base64,@Convert.ToBase64String(Picture) ); background-size: cover;
        background-position: center; background-repeat: no-repeat;">
        <Row>
            <AntDesign.Col Span="8">
                <h3>@Title</h3>
                <p>@Text</p>
            </AntDesign.Col>
        </Row>
    </div>
</div>





@code {

    [Parameter]
    public byte[] Picture { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Text { get; set; }
}
