
<AntDesign.Col Style="margin-top: 200px; margin-bottom: 25px; margin-right: 30px">
    <Card Title="@(BlockTitle)" Bordered="true" Style="width:100%; min-height: 350px; border-radius: 20px;">
        <Body>
            <div style="background-image: url(data:image/png;base64,@Convert.ToBase64String(BlockData));
                        height: 200px; background-size: cover; background-position: center">
            </div>
            <div style="font-weight: 300">
                <div class="truncate">
                    <p>@BlockText</p>
                </div>

            </div>
            <a href="@LinkSourse">
                <AntDesign.Button Icon="@IconType.Outline.ArrowRight">Перейти</AntDesign.Button>
            </a>
        </Body>
    </Card>
</AntDesign.Col>


@code { 
    [Parameter]
    public string BlockTitle { get; set; }
    [Parameter]
    public string BlockText { get; set; }
    [Parameter]
    public byte[] BlockData { get; set; }
    [Parameter]
    public string LinkText { get; set; }
    [Parameter]
    public string LinkSourse { get; set; }
    }

