@page "/"
@namespace TeacherWebSiteApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    string path = HttpContext.Request.Path.Value;
    var spath = path?.ToLower().Split("/")[1];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeacherWebSiteApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="wwwroot/css/bootstrap.css/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="TeacherWebSiteApp.styles.css" rel="stylesheet" />
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    @*<div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>*@

    <script src="_framework/blazor.server.js"></script>
</body>

@*@if (path.Contains("newsfeed") || path.Contains("articles") ||
   path.Contains("about") || path.Contains("contacts") ||
   (spath == "newsfeed" && HttpContext.Request.Path.Value?.Split("/").Length == 3))
{
    <component type="typeof(App)" render-mode="Server" />
}
else
{
    <component type="typeof(App)" render-mode="Static" />
}*@
</html>
