@page "/contacts"
@inject IDbContextFactory<TeacherContext> DbFactory
@namespace TeacherWebSiteApp.Pages
@layout MainLayout

<div style="margin-left: 200px; margin-right:200px">
    <Card  Style="padding:50px" Title=@("Способы связи:")>

        @foreach (var contact in contacts)
        {
            <CardGrid Style="width:50%;text-align:center" Hoverable="true">
                <Row>
                    <AntDesign.Col Span="6">
                        <img src="data:image/jpg;base64,@Convert.ToBase64String(contact.Badge)" height="40" width="40" />
                        <Row Style="margin-left: 25px">
                            @contact.Key
                        </Row>
                    </AntDesign.Col>
                    <a href="@contact.Link" style="cursor: pointer; margin-top: 10px; margin-bottom: 10px; color:  #212529">
                        <AntDesign.Col Span="6">
                            @contact.Value
                        </AntDesign.Col>
                    </a>
                </Row>
            </CardGrid>
        }
    </Card>
</div>

@code {
    List<Contact> contacts;

    protected override void OnInitialized()
    {
        using var context = DbFactory.CreateDbContext();
        contacts = context.Contacts.ToList();
    }
}
