<div class=" container" style="width: 40%">
    <div class="row">
        <h3><a href="@Link">@Name</a></h3>  
        <h4 style="margin-top: 20px">@ContentType</h4>
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Link { get; set; }
    [Parameter]
    public ContentType ContentType { get; set; }

}
