<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <NotAuthorized>
                    <center>
                        <h5 style="margin-top:200px">
                            У вас нет доступа к данной странице.64646456
                             <br />
                            <a href="/login">Авторизация</a><br /><a href="#">На главную</a>
                        </h5>
                    </center>

                </NotAuthorized>
                <Authorizing>
                    <center>
                        <h1 style="margin-top:200px">Загрузка</h1>
                        <h5>Пожалуйста подождите</h5>
                    </center>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <center>
                <h1 style="margin-top:200px">404</h1>
                <h5>К сожалению, такой страницы не существует.<br /><a href="#">На главную</a></h5>
            </center>
        </NotFound>
    </Router>
    <AntContainer />
</CascadingAuthenticationState>