<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <NotAuthorized>
                    <center>
                        <h5 style="margin-top:200px">
                            @*У вас нет доступа к данной странице.*@
                            You don't have access to this page
                            <br />
                            <a href="/login">@*Авторизация*@Authorization</a><br /><a href="#">@*На главную*@Home</a>
                        </h5>
                    </center>

                </NotAuthorized>
                <Authorizing>
                    <center>
                        <h1 style="margin-top:200px">@*Загрузка*@Loading</h1>
                        <h5>@*Пожалуйста подождите*@Please wait</h5>
                    </center>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <center>
                <h1 style="margin-top:200px">404</h1>
                <h5>@*К сожалению, такой страницы не существует.*@Page not found<br /><a href="#">@*На главную*@Home</a></h5>
            </center>
        </NotFound>
    </Router>
    <AntContainer />
</CascadingAuthenticationState>