@page "/cms/password/{Id:int}"
@layout CmsLayout
@attribute [Authorize(Roles = "admin")]
@inject IDbContextFactory<TeacherContext> DbFactory
@inject TeacherWebSiteApp.Services.ICryptographer cryprographer
@namespace WoodsOak.Pages.CMS.Users

<ValidationBlock Messages="messages"></ValidationBlock>
<div class="form-block" style="margin-top: 20px">
    <center>
        <h4>Изменение пароля <b>@username</b></h4>
        @if (ok && !messages.Any())
        {
            <p style="color:chartreuse">Пароль успешно изменен.</p>
        }
    </center>
</div>

<div style="background-color: white">
    <Row Style="margin-left:420px">
        <AntDesign.Col Span="12" Style="margin-bottom: 20px">
            <InputPassword @bind-Value="oldpas" Placeholder="Старый пароль" Type="password" />
        </AntDesign.Col>
    </Row>
    <Row Style="margin-left:420px">
        <AntDesign.Col Span="12" Style="margin-bottom: 20px">
            <InputPassword @bind-Value="newpas" Placeholder="Новый пароль" Type="password" />
        </AntDesign.Col>
    </Row>
    <Row Style="margin-left:420px">
        <AntDesign.Col Span="12" Style="margin-bottom: 30px">
            <InputPassword @bind-Value="confirm" Placeholder="Подтверждение пароля" Type="password" />
        </AntDesign.Col>
    </Row>
    <Row Style="margin-left: 550px">
        <AntDesign.Col Span="12">
            <Button @onclick="Save">Изменить пароль</Button>
        </AntDesign.Col>
    </Row>
</div>



 @code {

    [Parameter]
    public int Id { get; set; }
    string username;

    string oldpas;
    string newpas;
    string confirm;

    bool ok = false;

    string[] messages = new string[] { };

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        var user = await context.Users.FirstOrDefaultAsync(x => x.Id == Id);
        username = user.Name;
    }

    private async Task Save()
    {
        if (string.IsNullOrEmpty(oldpas) || string.IsNullOrEmpty(newpas) || string.IsNullOrEmpty(confirm))
        {
            messages = new string[] { "Необходимо заполнить все поля." };
            return;
        }
        if (newpas != confirm)
        {
            messages = new string[] { "Новый пароль и подтверждение нового пароля не совпадают." };
            return;
        }

        using var context = DbFactory.CreateDbContext();
        var user = await context.Users.FirstOrDefaultAsync(x => x.Id == Id);
        if (cryprographer.GetHashString(oldpas) != user.Password)
        {
            messages = new string[] { "Старый пароль введен не верно" };
            return;
        }
        else
        {
            messages = new string[] { };
            user.Password = cryprographer.GetHashString(newpas);
            await context.SaveChangesAsync();
            ok = true;

        }
    }
}
