/* _content/TeacherWebSiteApp/Components/BigBanner.razor.rz.scp.css */

/* _content/TeacherWebSiteApp/Components/Publication.razor.rz.scp.css */
.hiddenBlock[b-di6ixeogsq]{

    overflow-x:hidden
}
/* _content/TeacherWebSiteApp/Page.CMS/Users/Login.razor.rz.scp.css */
.form-horizontal[b-ljfnra0jtq]{
 background: #fff;
 padding-bottom: 40px;
 border-radius: 15px;
 text-align: center;
}
.form-horizontal .heading[b-ljfnra0jtq]{
 display: block;
 font-size: 35px;
 font-weight: 700;
 padding: 35px 0;
 border-bottom: 1px solid #f0f0f0;
 margin-bottom: 30px;
}
.form-horizontal .form-group[b-ljfnra0jtq]{
 padding: 0 40px;
 margin: 0 0 25px 0;
 position: relative;
}
.form-horizontal .form-control[b-ljfnra0jtq]{
 background: #f0f0f0;
 border: none;
 border-radius: 20px;
 box-shadow: none;
 padding: 0 20px 0 45px;
 height: 40px;
 transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus[b-ljfnra0jtq]{
 background: #e0e0e0;
 box-shadow: none;
 outline: 0 none;
}
.form-horizontal .form-group i[b-ljfnra0jtq]{
 position: absolute;
 top: 12px;
 left: 60px;
 font-size: 17px;
 color: #c8c8c8;
 transition : all 0.5s ease 0s;
}
.form-horizontal .form-control:focus + i[b-ljfnra0jtq]{
 color: #00b4ef;
}
.form-horizontal .fa-question-circle[b-ljfnra0jtq]{
 display: inline-block;
 position: absolute;
 top: 12px;
 right: 60px;
 font-size: 20px;
 color: #808080;
 transition: all 0.5s ease 0s;
}
.form-horizontal .fa-question-circle:hover[b-ljfnra0jtq]{
 color: #000;
}
.form-horizontal .main-checkbox[b-ljfnra0jtq]{
 float: left;
 width: 20px;
 height: 20px;
 background: #11a3fc;
 border-radius: 50%;
 position: relative;
 margin: 5px 0 0 5px;
 border: 1px solid #11a3fc;
}
.form-horizontal .main-checkbox label[b-ljfnra0jtq]{
 width: 20px;
 height: 20px;
 position: absolute;
 top: 0;
 left: 0;
 cursor: pointer;
}
.form-horizontal .main-checkbox label[b-ljfnra0jtq]:after{
 content: "";
 width: 10px;
 height: 5px;
 position: absolute;
 top: 5px;
 left: 4px;
 border: 3px solid #fff;
 border-top: none;
 border-right: none;
 background: transparent;
 opacity: 0;
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox][b-ljfnra0jtq]{
 visibility: hidden;
}
.form-horizontal .main-checkbox input[type=checkbox]:checked + label[b-ljfnra0jtq]:after{
 opacity: 1;
}
.form-horizontal .text[b-ljfnra0jtq]{
 float: left;
 margin-left: 7px;
 line-height: 20px;
 padding-top: 5px;
 text-transform: capitalize;
}
.form-horizontal .btn[b-ljfnra0jtq]{
 float: right;
 font-size: 14px;
 color: #fff;
 background: #00b4ef;
 border-radius: 30px;
 padding: 10px 25px;
 border: none;
 text-transform: capitalize;
 transition: all 0.5s ease 0s;
}
@*@media*@ only screen and (max-width: 479px){
 .form-horizontal .form-group[b-ljfnra0jtq]{
 padding: 0 25px;
 }
 .form-horizontal .form-group i[b-ljfnra0jtq]{
 left: 45px;
 }
 .form-horizontal .btn[b-ljfnra0jtq]{
 padding: 10px 20px;
 }
}
/* _content/TeacherWebSiteApp/Pages/Articles.razor.rz.scp.css */
.blockhidden[b-cglbnhxsmy]{
    overflow-x:hidden
}

.truncate p[b-cglbnhxsmy]{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
/* _content/TeacherWebSiteApp/Pages/Contacts.razor.rz.scp.css */
.cardgrid:hover[b-1dvze6zf9s]{
    transition: 0.5s;
    box-shadow: 1px 1px 1px 1px #48e0f7;
}
/* _content/TeacherWebSiteApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-6ufbj4ms84] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-6ufbj4ms84] {
    flex: 1;
}

.sidebar[b-6ufbj4ms84] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

components-layout-demo-top .logo[b-6ufbj4ms84] {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.top-row[b-6ufbj4ms84] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6ufbj4ms84]  a, .top-row .btn-link[b-6ufbj4ms84] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-6ufbj4ms84] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6ufbj4ms84] {
        display: none;
    }

    .top-row.auth[b-6ufbj4ms84] {
        justify-content: space-between;
    }

    .top-row a[b-6ufbj4ms84], .top-row .btn-link[b-6ufbj4ms84] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6ufbj4ms84] {
        flex-direction: row;
    }

    .sidebar[b-6ufbj4ms84] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6ufbj4ms84] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-6ufbj4ms84] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/TeacherWebSiteApp/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-rcumvsay4x] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-rcumvsay4x] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-rcumvsay4x] {
    font-size: 1.1rem;
}

.oi[b-rcumvsay4x] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rcumvsay4x] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-rcumvsay4x] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-rcumvsay4x] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rcumvsay4x]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-rcumvsay4x]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-rcumvsay4x]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-rcumvsay4x] {
        display: none;
    }

    .collapse[b-rcumvsay4x] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
